<!-- Protected Page -->
{% extends "base_protected.html" %}

{% block content %}
<div class="flex one compact">
    <div class="tabs three">
        <input id='tab-1' type='radio' name='tabgroupB' checked />
        <label class="pseudo button toggle" for="tab-1">Log</label>
        <input id='tab-2' type='radio' name='tabgroupB'>
        <label class="pseudo button toggle" for="tab-2">Edit</label>
        <input id='tab-3' type='radio' name='tabgroupB'>
        <label class="pseudo button toggle" for="tab-3">History</label>
        <div class="row">
            <div class="tab-content" id="tab-1-content">
                <a class="button warning" href="/log/workout/new">&#43; Improvised Workout</a>
                {% for item in config.templates %}
                <a class="button" href="/log/template/{{ item.id }}/log">{{ item.name }}</a>
                {% endfor %}
            </div>
      
            <div class="tab-content">
                <a class="button warning" href="/log/template/create-new">&#43; New Routine</a>
                {% for item in config.templates %}
                <a class="button" href="/log/template/{{ item.id }}/edit">{{ item.name }}</a>
                {% endfor %}
            </div>
      
            <div class="tab-content">
                {% for item in config.history %}
                <a class="button">{{ item.date }}: {{ item.template }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
