{% extends "components/base_protected.html" %}
{% block content %}
<div class="compact form-body">
    <div class="flex eight twelve-700">
        <button onclick="history.back()">&#10094;</button>
        <label for="modal_1" class="button">&#8263;</label>
    </div>
    <div class="modal">
        <input id="modal_1" type="checkbox" />
        <label for="modal_1" class="overlay"></label>
        <article>
            <section class="content navy-blue">
                Add Exercises using <code>#Exercise</code>, and specify a rep scheme inside <code>[]</code> brackets.
                Generic rep scheme would be <code>sets x reps @ weight OR % OR RPE</code>. You can add in 
                a cluster set using <code>reps/x</code> denoting the number of sub sets.
            </section>
            <footer class="navy-blue">
                Click anywhere outside this box to exit
            </footer>
        </article>
    </div>
    <h3><span class="label">Workout Editor</span></h3>
    <form action="/log/template/{{ config.template_id }}/edit" method="post" id="workout-form" enctype="multipart/form-data">
        <div class="flex two">
            <label><input name="title" type="text" placeholder="Template Name" value="{{ config.workout.name }}"></label>
        </div>
        <textarea name="notes" placeholder="Notes">{{ config.workout.notes }}</textarea>
        <textarea name="template" placeholder="Details" class="template-body">{{ config.workout.template }}</textarea>
        <button type="submit" value="Submit">Save</button>
    </form>
    
</div>
{% endblock %}
