<!-- Protected Page -->
{% extends "base_protected.html" %}

{% block content %}
<div class="compact form-body">
    <h3><span class="label">Workout Template</span></h3>
    <form action="/log/template/create-new" method="post" id="workout-form">
        <div>
            <label><input type="text" placeholder="Template Name"></label>
            <label><input type="date" placeholder="Date"></label>
        </div>
        <textarea placeholder="Description"></textarea>

        <div>
            <label><input type="text" placeholder="Exercise name"></label>
            <!-- Need to make every set individual, so can log % and rir -->
            <label><input type="number" placeholder="Sets" min="1" max="10"></label>
            <label for="vol">Sets</label>
            <input type="range" id="vol" name="vol" min="1" max="10">
            <select>
                <option>Metric</option>
                <option>Reps</option>
                <option>Time (s)</option>
            </select>
            <label for="quant">Quantity</label>
            <input type="range" id="quant" name="quant" min="1" max="100">
            <label><input type="number" placeholder="Rest Time (secs)" min="0" max="300"></label>
        </div>

        <button type="submit" value="Submit">Save</button>
    </form>
    
</div>
{% endblock %}
