{% extends "base.html" %}

{% block content %}
<header>
    <h1 class="center">Workout Logger</h1>
    <p class="center">
        <i>The most minimalist workout logger you can find</i>
    </p>
</header>
<div class="flex one">
    <div class="center">
        <h2>A Helpful Tool for any gymgoer</h2>
        <p>
            Stay on top of your game by keeping track of your progress. Just like a notebook,
            except it's web-based, so that you can skip the pen and paper. Log your workouts 
            exactly how you like to, without wasting time or effort being constrained by an 
            app's interface.
        </p>
    </div>
</div>
{% endblock %}
