<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static',filename='/styles/main.css')}}"> 
    </head>
    <body>
        <main>
            <h1>Exercise API Home</h1>
            <div class="text-container">
                <h2>The Free Exercise API</h2>
                <p>After finding a lack of free easy-to-use resources for finding and creaeting exercises,
                    I decided to create this API so that I could offer a free and easily-accessible exercise
                    API that could hopefully help some of those that experienced the same problems that I did.
                    <br>
                    This is by no means a finished project, but I am working on making it as functional as
                    possible.
                </p>
            </div>
            <div class="text-container">
                <h2>Documentation</h2>
                <p>More to come here...</p>
            </div>
        </main>
        <script src="" async defer></script>
    </body>
</html>
