{% extends "base_protected.html" %}
{% block extra_import %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="{{ url_for('static', filename='src/form.js') }}"></script>
{% endblock %}
{% block content %}
<div class="compact form-body">
    <h3><span class="label">{{ config.workout.name }}</span></h3>
    <form action="/log/template/{{ config.template_id }}/log" method="post" id="workout-form" enctype="multipart/form-data">
        <label><input name="date" type="date" placeholder="Date"></label>
        <p>Notes: {{ config.workout.notes }}</p>

        <label for="modal_1" class="button warning">&#43; Add Exercise</label>

        <div class="modal">
            <input id="modal_1" type="checkbox" />
            <label for="modal_1" class="overlay"></label>
            <article>
                <section class="content">
                    <label><input id="ex-name" type="text" placeholder="Exercise name"></label>
                    <label><input id="ex-sets" type="number" placeholder="Sets" min="1" max="15"></label>
                </section>
                <footer>
                    <a class="button" id="add-exercise">Add</a>
                    <label for="modal_1" class="button dangerous">Cancel</label>
                </footer>
            </article>
        </div>

        {% for exercise in config.workout.template %}
        <div class="exercise" style="overflow-x:auto;">
            <h4>{{ exercise.name }}</h4>
            <table class="primary">
                <thead>
                  <tr>
                    <th>Reps</th>
                    <th>Load</th>
                    <!-- <th>%1RM</th> -->
                    <th>RPE</th>
                    <th>Rest</th>
                  </tr>
                </thead>
                <tbody>
                    {% for set in exercise.sets %}
                    <tr>
                        <td contenteditable="true">
                            <input name="quantity" value="{{ set.quantity }}" />
                        </td>
                        <td contenteditable="true">
                            <input name="load"/>
                        </td>
                        <!-- <td contenteditable="false">{{ set.pct_1rm }}
                            <input type="hidden" name="pct_1rm" value="{{ set.pct_1rm }}" />
                        </td> -->
                        <td contenteditable="false">{{ set.rpe }}
                            <input type="hidden" name="rpe" value="{{ set.rpe }}" />
                        </td>
                        <td contenteditable="false">{{ set.rest }}
                            <input type="hidden" name="rest" value="{{ set.rest }}" />
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
        {% endfor %}
        <span id="exercise-placeholder"></span>
        <button type="submit" value="Submit">Save</button>
    </form>
    
</div>
{% endblock %}
