<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link href="{{ url_for('static', filename='styles/logger.css') }}?v={{ config.cache }}" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='styles/main.css')}}?v={{ config.cache }}"> 
    <link href="{{ url_for('static', filename='images/barbell.png') }}" rel="icon">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <script>
        function closeDiv(spn) {
            spn.parentNode.style.display = "none";
        }
    </script>
    {% block title %}
    <title>{{ config.title }} | Workout Log</title>
    {% endblock %}
</head>
<body>
    <div class="nav">
        <nav class="demo nav-bar">
            <a href="/log" class="brand">
                <img class="logo" src="{{ url_for('static', filename='images/barbell.png') }}" />
                <span>Workout Log</span>
            </a>
        
            <!-- responsive-->
            <input id="bmenub" type="checkbox" class="show">
            <label for="bmenub" class="burger pseudo button">Menu</label>
        
            <div class="menu">
                <a href="/log/login" class="pseudo button item">Login</a>
                <a href="/log/signup" class="pseudo button item">Sign Up</a>
            </div>
        </nav>
    </div>
    <div class="notification-container show-bottom-right">
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="notification {{ category }}">
                <span onclick="closeDiv(this)">&#10006;</span> {{ message }}
            </div>
        {% endfor %}
    </div>
    {% block content %}
    {% endblock %}
</body>
<footer>
    <p>&copy; {{ config.footer_text }}</p>
</footer>
</html>

