@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

:root {
    --blue: #1e90ff;
    --white: #E7EDEB;

    --neon-blue: #2272FF;
    --pitch-black: #1D1D1D;
    --baby-blue: #7EC8E3;
    --navy-blue: #000C66;

    --class1: #22209e;
    --class2: #fa702f;

}
/* Define Global Font */
body {
    font-family: 'Libre Franklin', sans-serif;
    color: white;
    background-color: var(--pitch-black);
}
footer p {
    width: 70%;
    margin: auto;
    text-align: center;
}
.label {
    font-size: 1em;
    margin-left: 0.2em;
}

/* Navigation component */
.nav {
    overflow: hidden;
    height: 3em;
}
.nav-bar {
    background: var(--neon-blue) !important;
}
/* Style Image Components */
img {
    max-width: 100%;
    height: auto;
}
/* Font weight for paragraph elements */
p {
    font-weight: 300;
}

/* 
* Work with Header elements 
*/
header {
    text-align: center;
}
#header-img {
    height: 5em;
    width: auto;
}
.card header h1, .card header h3 {
    padding: .5em;
    margin: 0;
}
.button {
    background-color: var(--neon-blue);
}
.item:hover,
.item:active,
.item:focus {
    background: #cff;
}
.form-body {
    background: var(--navy-blue);
    padding: 2.5%;
    padding-bottom: 2rem;
}
.bordered {
    padding: 0.5em;
    border: 1px solid rgb(17, 157, 154);
    border-radius: 5ps;
}
.menu {
    background-color: var(--neon-blue) !important;
}
:checked+.toggle {
    box-shadow: none;
    background-color: var(--neon-blue) !important;
}
.popup {
    background-color: var(--navy-blue) !important;
}

tbody {
    background-color: #00A5E9;
}

input, textarea, select {
    background-color: var(--white);
    color: var(--pitch-black);
    border: var(--white) solid;

    margin: .3em 0;
}

/* 
* Universal Utility Classes 
*/
.center {
    width: 70%;
    margin: auto !important;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.fixed {
    display:table-cell;
    width: 70px;
    min-width: 70px;
}
.no-border {
    border: none;
}
.float-card {
    padding: 0em 2em;
    text-align: left;
}
.greyed {
    background-color: grey;
}
.baby-blue {
    background: var(--baby-blue) !important;
}

.compact {
    width: 60%;
    max-width: 50em;
    margin: 0 auto;
}
.flex>* {
    padding: 0;
}
.row {
    background-color: var(--navy-blue);
    border-radius: 5px;
    margin-bottom: 0.5em !important;
}
.tab-content {
    padding: 1em;
}

/* 
* Media Query for Responsive Design
*/
@media only screen and (max-width: 600px) {
    .float-card {
        text-align: center;
    }
    .compact {
        width: 95%;
        max-width: 25em;
    }
    .tab-content {
        padding: 0 1%;
    }
    td, th {
        padding: .25rem;
    }
}
