@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
h1, h2 {
    text-align: center;
    color: white;
}
body {
    background-color: #1D1D1D;
    font-family: 'Libre Franklin', sans-serif;
}
code {
  color: black;
}
dt {
    font-weight: bold;
}
dd {
    margin: auto auto auto 1em;
}
.text-container {
    background-color: #2272FF;
    margin: auto;
    margin-bottom: 0.5em;
    width: 80%;
    padding: min(20px, 5%);
    border: #2272FF solid 3px;
    border-radius: 10px;
}

.notification-container {
    width: 300px;
    height: auto;
    position: fixed;
    padding: 10px;
    z-index: 1000000;
}
  
.show-top-left {
    top: 0;
    left: 0;
    text-align: right;
}
  
.show-top-right {
    top: 0;
    right: 0;
}
  
.show-bottom-left {
    bottom: 0;
    left: 0;
}
  
  .show-bottom-right {
    bottom: 0;
    right: 0;
  }
  
  .notification {
    width: 250px;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
    text-overflow: clip;
    font-size: 0.7em;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  }
  
  .ok {
    background-color: #05ad19;
    color: #ffffff;
    border: 0.5rem solid #05ad19;
    border-radius: 5px;
  }
  
  .error {
    background-color: #f8190d;
    color: #ffffff;
    border: 0.5rem solid #f8190d;
    border-radius: 5px;
  }
  
  .warn {
    background-color: #ca710b;
    color: #ffffff;
    border: 0.5rem solid #ca710b;
    border-radius: 5px;
  }
  
  .notice {
    background-color: #add8e6;
    color: #ffffff;
    border: 0.5rem solid #add8e6;
    border-radius: 5px;
  }
  
  .hide {
    display: none;
  }
  
  .show-top-left > .notification > .close {
    float: left;
    cursor: pointer;
  }
  
  .show-bottom-left > .notification > .close {
    float: left;
    cursor: pointer;
  }
  
  .show-top-right > .notification > .close {
    float: right;
    cursor: pointer;
  }
  
  .show-bottom-left > .notification > .close {
    float: right;
    cursor: pointer;
  }

  .template-body {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 25rem;
    outline: none;
    resize: none;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  

